.hello {
  margin-top: 164px;
  color: #fff !important;
}

.bannerTitle {
  margin-top: 16px !important;
  /* text-decoration: underline;
  text-decoration-color: #1677ff;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.2em; */
  color: #FFCC17 !important;
}



.pUnderline {
  text-decoration: underline;
  text-decoration-color: #FFCC17;
  text-decoration-thickness: 0.175em;
  text-underline-offset: 0.25em;
  /* Adjust offset to move it lower than the text */
  color: #fff !important;
  font-family: 'Roboto condensed', sans-serif; /* Use 'sans-serif' as a fallback font */
  font-size: 16px;
}


.bannerParagraph {
  margin-bottom: 184px !important;
  color: #fff !important;
}

.container {
  margin-top: 80px;
  margin-bottom: 164px;
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 720px) {
  .container {
    padding-top: 160px;
    padding-bottom: 500px;
  }
}

  .text {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ellipsis {
    display: flex;
    justify-content: center;
    z-index: -1;
  }