/* contact.module.css */

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px; /* Add margin as needed */
  align-items: start;
}

/* Add any additional styles for your buttons */
.buttons Button {
  /* Add specific styles for each button */
  /* For example, you can set a specific width, height, or other styles */
  margin: 0; /* Reset default margin to ensure even spacing */
}

.button {
  width: 240px;
}

.clippyButton {
  width: 24px;
  margin-left: 4px;
}

.footerContainer {
  margin-top: 100px !important;
  margin-bottom: 120px;
}

/* Media query for screens less than 700px */
@media screen and (max-width: 1200px) {
  .buttons {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }

  .buttons Button {
    margin-top: 8px; /* Add spacing between stacked buttons */
  }
}
