.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; /* Adjust as needed */
}

.card {
  width: 500px;
  height: 608px;
  /* Add other styling for your card */
}

.image {
  height: 337px !important;
  object-fit: cover;
}
.projectTitle {
  margin-bottom: 52px !important;
}

.projectInfoContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cardSpace {
  /* This class needs to be applied to a flex container, not directly to a card */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.projectsHeader {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 720px) {
  .card {
    width: 300px;
    height: 740px !important;
  }
  .projectsHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .cardSpace {
    /* This class needs to be applied to a flex container, not directly to a card */
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
