.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  padding: 0 16px; /* Add padding for better spacing */
}

.top Text:first-child {
  margin-right: 711px; 
}

.top Text:not(:first-child) {
  margin-left: 32px;
}

.text {
  color: #fff !important;
}

.textLink {
  color: #fff !important;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 25px;
}

@media screen and (max-width: 580px) {
  .textLink {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
}
